* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container-fluid {
    height: 580px;
    background-color: rgba(25, 176, 199, 0.92);
    background: linear-gradient(-45deg, rgba(147, 26, 222, 0.93) 0%, rgba(43, 182, 204, 0.92) 100%);
}

.container {
    width: 90%;
}

.navbar {
    width: 100%;
    height: 100px;
    position: relative;
    padding: 30px 0 0 0;
}

.navbar__logo {
    width: 140px;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar__logo img {
    width: 45px;
    border-radius: 50%;
    border: 1px solid black;
}

.navbar__logo p {
    margin: 10px 10px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: #fff;
}

.navbar__lists {
    float: right;
    margin-top: -55px;
}

.navbar__lists {
    display: flex;
}

.navbar__lists-item {
    padding: 5px 5px 0px 5px;
    list-style: none;
    color: white;
    margin: 0 10px;
    text-align: center;
}

.navbar__lists-icon {
    font-size: 20px;
}

.navbar__lists-item:hover {
    background-color: #ffffff47;
    border-radius: 3px;
    cursor: pointer;
}

.navbar__lists-tittle {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
}

.navbar__lists-tittle i {
    margin-left: 3px;
    margin-top: 2px;
}


/* -------------------------------------------*/

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-left {
    width: 50%;
    color: white;
}

.notify {
    width: 310px;
    height: 27px;
    background-color: #00a9e0;
    text-align: center;
    font-size: 15px;
    line-height: 27px;
    border-radius: 15px;
}

.notify a {
    color: white;
    text-decoration: none;
    display: block;
    position: relative;
}

.notify a span {
    display: inline-block;
    background-color: yellowgreen;
    font-size: 10px;
    width: 30px;
    height: 20px;
    border-radius: 10px;
    margin-right: 10px;
}

.notify a i {
    font-size: 13px;
    margin-left: 10px;
}

.header-text h2 {
    font-size: 37px;
    font-weight: 400;
    margin-top: 35px;
}

.header-text p {
    margin: 42px 0;
    font-size: 19px;
    font-weight: 500;
}

.header-text p a {
    text-decoration: none;
    color: white;
}

.header-form {
    width: 538px;
    height: 50px;
    position: relative;
}

.header-form input {
    width: 538px;
    height: 50px;
    padding: 6px 20px;
    font-size: 19px;
    font-weight: 500;
    background-color: rgba(115, 186, 221, 0.8);
    border-radius: 30px;
    border: none rgba(115, 186, 221, 0);
    outline: none;
    color: white;
}

.header-form button {
    background-color: white;
    width: 46px;
    height: 46px;
    border: none;
    outline: none;
    border-radius: 50%;
    position: absolute;
    right: 3px;
    top: 2px;
    font-size: 20px;
    text-align: center;
    color: gray;
    cursor: pointer;
}

.header-right .circles {
    width: 400px;
    height: 400px;
    border: 1px solid #fdfdfc3d;
    border-radius: 50%;
    margin: -20px 40px 0 0;
    position: relative;
}

.circle1 {
    width: 100px;
    height: 100px;
    border: 1px solid #fdfdfc3d;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    right: 150px;
}

.circle2 {
    width: 250px;
    height: 250px;
    border: 1px solid #fdfdfc3d;
    border-radius: 50%;
    position: absolute;
    top: 75px;
    right: 75px;
}

.img {
    border-radius: 50%;
    position: absolute;
}

.circle1-img {
    width: 38px;
}

.circle2-img {
    width: 42px;
}

.circle3-img {
    width: 45px;
}

.img-1 {
    top: 179px;
    left: 129px;
    animation-delay: 0s;
}

.img-2 {
    top: 179px;
    right: 129px;
    animation-delay: 2s;
}

.img-3 {
    top: 54px;
    right: 179px;
    animation-delay: 1s;
}

.img-4 {
    top: 270px;
    right: 260px;
    animation-delay: 7s;
}

.img-5 {
    top: 270px;
    left: 260px;
    animation-delay: 6s;
}

.img-6 {
    top: 36px;
    left: 41px;
    animation-delay: 5s;
}

.img-7 {
    top: 36px;
    right: 41px;
    animation-delay: 9s;
}

.img-8 {
    top: 243px;
    right: -11px;
    animation-delay: 10s;
}

.img-9 {
    top: 243px;
    left: -11px;
    animation-delay: 8s;
}

.img-10 {
    bottom: -21px;
    right: 179px;
    animation-delay: 11s;
}

.imgAnimation {
    animation: scaleImg 1s ease-out 1;
}

@keyframes scaleImg {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}


/* --------------------------------------------------- */

.content-menu {
    width: 100%;
    height: 85px;
    background-color: #5d4a8e;
    border-radius: 8px;
    margin-top: 40px;
}

.content-menu ul {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.menu-item {
    list-style: none;
    color: white;
    font-size: 13px;
    font-weight: 500;
    padding: 10px 12px;
    border-radius: 15px;
}

.menu-item:hover {
    background-color: white;
    color: #6d4eba;
}

.content-menu ul:last-child i {
    margin: 0px 0px 0px 5px;
    float: right;
}


/* ------------------------------------------ */

.bestseller {
    margin-bottom: 80px;
}

.bestseller h2 {
    font-weight: 400;
    color: #777;
    margin: 50px 0 30px 0;
}

.bestseller button {
    font-size: 15px;
    padding: 10px 18px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #5d4a8e;
    color: #FFFFFF;
    cursor: pointer;
}

.bestseller button:hover {
    background-color: #52417d;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 30%;
    height: 362px;
    border: none;
    cursor: pointer;
    position: relative;
}

.card img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 5px 3px rgb(191, 188, 176);
}

.card .layer2 {
    width: 100%;
    height: 75%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10000;
    opacity: 0;
    transition: all 0.2s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666666 !important;
}

.card .layer2 i {
    font-size: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: white;
}

.card .layer2 i:hover {
    opacity: 0.85;
}

.card .layer2 .active {
    background-color: rgb(11, 167, 219);
    color: white !important;
}

.card:hover img {
    filter: brightness(30%);
}

.card:hover .layer2 {
    opacity: 1;
}

.tittle {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.tittle-content h5 {
    font-weight: 400;
}

.tittle-content p {
    font-size: 14px;
}

.section2 .card .layer2 div {
    background-color: white;
    font-size: 14px;
    padding: 6px 10px;
    border-radius: 5px;
}

.section2 .card .layer2 div:hover {
    opacity: 0.85;
}

.section2 .card .layer2 div i {
    font-size: 14px;
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.baner {
    width: 100%;
}

.baner p {
    margin: 20px;
    color: #777;
}

.list-logo {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    will-change: transform;
    user-select: none;
    cursor: pointer;
}

.logo {
    display: inline-block;
    margin-right: 40px;
    width: 130px;
    height: 43px;
    background-color: rgb(11, 167, 219);
    background-image: url(https://www.creative-tim.com/media-logos.jpg);
    background-size: cover;
    transform: scale(1.2);
}

.logo.logo1 {
    width: 139px;
}

.logo.logo3 {
    background-position: -240px;
}

.logo.logo4 {
    background-position: -343px;
}

.logo.logo5 {
    background-position: -440px;
}

.logo.logo6 {
    background-position: -525px;
    width: 135px;
}

.logo.logo7 {
    background-position: -648px;
    width: 90px;
}

.logo.logo8 {
    background-position: -728px;
}

.logo.logo9 {
    background-position: -826px;
    width: 124px;
}

.logo.logo10 {
    background-position: -946px;
    width: 121px;
}

.logo.logo11 {
    background-position: -1069px;
}

.logo.logo12 {
    background-position: -1167px;
    width: 110px;
}